<link href="css/main.css" rel="stylesheet"> 
<main id="main-content">
    <section id="hero">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7">
                      <!--  <h3>Haulage Procument and Logistics</h3>
                        <p class="lead">With over ten years of experience in 
                        haulage and procurement of petroleum products, Within 
                        our offices inseveral locations in the Niger Delta, are
                        haulage trucks and other tankers for transportation of 
                        petroleum products to areas of consumptions(filling stations,
                        company plants, telecom sites etc.)
                        </p>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="mid">
        <div class="container">
            <div class="row">
                <figure class="col-12 mx-auto petrol-tools">
                    <img src="images/petrol_tools.png">
                </figure>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <h4>Sales of Petroleum products</h4>
                    <p>We sell petroleum products such as PMS, AGO,
                    DPK and OPK at affordable prices. Apart from
                    prompt delivery, our products are of high industrial quality.
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <h4>General contractors</h4>
                    <p>At Onaidjuku we undertake contracts including supply of 
                    merchandise to offshore sites. We also manage and finance 
                    projects upon  successful study and project analysis.
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <h4>Haulage procurement and Logistics</h4>
                    <p>Amongst our mission is the desire to bridge the 
                        gap between the refineries, depot and site or 
                        areas of consumptions. With good knowledge and 
                        enviable relationship with refinery management,
                        we strive to eliminate all the hassles of procurements
                        of petroleum resources, as we  
                    </p>
                </div>
            </div>
        </div>
    </section>
</main> 
