<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="css/pages.css">
    <% include partials/menu %>
    <main id="main-info">
        <section>
            <div class="jumbotron">
                <div class="container">
                    <h1>Company Profile</h1>
                    <ul class="unstyled-list lead">
                        <li>Category: Oil and Gas and General contractors</li>
                        <li>Operation: Sales, Haulage and Transportation</li>
                        <li>Country: Nigeria</li>
                        <li>Core values: Integrity, Excellence, and Professionalism. </li>
                    </ul> 
                </div> 
            </div>
            <article>
                <div class="container">
                    
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-8">
                                <h2 class="text-center">Introduction</h2>
                            <p>ONAIDJUKU NIG ENT is an onshore Oil and Gas service Company
                            that is registered with the corporate affairs commission CAC and also
                            with the department of of Petroleum resources DPR.We have our head office at 
                            Udu road with several offices located within the Niger Delta cluster.
                            </p>
                            <p>The company is managed by a young creative and dynamic personality
                                with over 10 years of experience in Haulage and transportation of 
                                petroluem products. Apart from his experience, he is also 
                                passionate, a goal getter and diven by excellence.
                            </p>
                            <p>The management of ONAIDJUKU NIG ENT possess local knowledge. It
                                understand the workings and apparent complexities of the petroleum 
                                depot operation in Nigeria, especially in the Niger Delta. Our knowledge
                                in this regard saves our clients a lot of downtime in their operation.
                            </p>
                            <p>ONAIDJUKU NIG ENT. and its partners have within their various offices
                                caliberated trucks, which includes: two 33,000 litres, two units of
                                15,000 litres and one unit of 45,000 litres trucks. Other equipments also 
                                includes pumping machines, caliberated meters and horses of various length 
                                and size.
                            </p>
                        </div>
                        <div class="col-12 col-sm-8 col-md-4 form">
                            <div class="card meet-us text-white shadow">
                                <div class="card-body">
                                    <h5 class="card-tittle border-bottom pb-2">Meet US</h5>
                                    <form action="">
                                        <div class="form-group">
                                           <input type="text" class="form-control" 
                                           aria-describedby="company name or name"
                                           placeholder="Enter company name or name">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" 
                                            aria-describedby="emailHelp" placeholder="Enter a valid email address">
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control" 
                                            aria-describedby="emailHelp" placeholder="Enter a valid phone number">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="" id="" cols="" rows="3" class="form-control"
                                            value="Tell us what you want">Tell us what you want</textarea>
                                        </div>
                                        <button type="submit" class="btn bg-success text-white">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%include partials/footer %>
    <% include partials/script %>
</body>
</html>
<body>
