<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
<body>
    <% include partials/menu %>
    <% include partials/main %>
    <%include partials/footer %>
    <% include partials/script %>
</body>
</html>
