<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="css/main.css">
<body>
    <% include partials/menu %>

    <main id="main-operations">
        <section>
            <article>
                <div class="container pt-5">
                    <div class="row">
                        <div class="col-12 col-md-7 mx-auto">
                            <h1 class="h3">Operations</h1>
                            <p>We are an onshore oil and gas company that carry out
                                our operations around the Niger Delta. Armed with up-to-date
                                technologies, and tools, we strive to bridge the gap between the 
                                depot and sites(company yard).
                            </p>
                            <h1 class="h3">Services</h1>
                            <p>Procurement,Haulage, transportation of petroleum products such as 
                                AGO, PMS and DPK, Logistics,
                                Construction and General contracts.
                            </p>
                            <p>We guarantee product integrity real time delivery and 
                                quality assurance</p>
                        </div>

                        <div class="col-12 col-md-5">
                           <img src="images/petrol-2954372_1920.jpg" 
                            class="img-fluid img-thumbnail" alt="filling station">
                            <aside class="card my-3">
                                <div class="card-body bg-success text-white">
                                    <h5 class="card-title">
                                        Industrial News.
                                        <hr>
                                    </h5>
                                    <p class="card-text"><a href="#"class="post-url text-white" id="deep-water">
                                        Deep water exploration make a comback.
                                    </a></p>
                                    <p class="card-text"><a href="#"class="post-url text-white" id="natural-gas">
                                        The growth of natural gas production.
                                    </a></p>
                                    <p class="card-text"><a class="post-url text-white" href="#">
                                            US Shale versus OPEC.
                                        <a class="post-url" id="shale">
                                    </a></p>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <%include partials/footer %>
    <% include partials/script %>
</body>
</html>